name: CI Pipeline

on:
  push:
    branches:
      - main
      - fix/ci-pipeline
  pull_request:
    branches:
      - main
      - fix/ci-pipeline

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.8'  # Cambia la versión si es necesario

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest  # Asegúrate de tener pytest en tus dependencias
